<button class="btn btn-sm btn-outline-primary fw-bold" (click)="openModal(template)">View Menu</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title fw-bold text-primary pull-left">{{restInfo.RestName}} ({{restInfo.City}})</h4>
    <button type="button" class="btn btn-close btn-close-white pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden" style="font-size: 35px;">&times;</span>
    </button>
  </div>

  <div class="modal-body px-4">
    <table class="table table-borderless text-white">
      <tbody>
        <tr class="lead fw-semibold text-decoration-underline">Appetizers</tr>
        <tr *ngFor="let item of apps" class="mb-1">
          <td class="col-10">{{item.ItemName}}</td>
          <td class="col-2">{{item.ItemPrice}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless text-white">
      <tbody>
        <tr class="lead fw-semibold text-decoration-underline p-2">Entrees</tr>
        <tr *ngFor="let item of entrees">
          <td class="col-10">{{item.ItemName}}</td>
          <td class="col-2">{{item.ItemPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer my-0 px-4">
    <button (click)="modalRef?.hide()" class="btn col-8 btn-outline-primary mx-auto">Close</button>
  </div>
</ng-template>
