<app-navbar [restaurants]="restaurants" [currTableList]="currTableList" (currTableListChange)="currTableList = $event"></app-navbar>

<table class="table text-white table-responsive table-borderless mt-2">
  <thead class="fs-4 text-primary">
    <tr>
      <th scope="col">Restaurant</th>
      <th scope="col">Cuisine</th>
      <th scope="col">City</th>
      <th scope="col" class="text-center">Rating</th>
      <th scope="col" class="text-center">Grade</th>
      <th scope="col" class="text-center p-2">
        <button id="reset-btn" class="btn btn-link text-ternary fs-6 fst-italic" (click)="resetResults()">Reset Results</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of currTableList" class="p-2 lead">
      <td class="">{{restaurant.RestName}}</td>
      <td>{{restaurant.Cuisine}}</td>
      <td>{{restaurant.City}}</td>
      <td class="text-center">{{restaurant.Rating}}</td>
      <td class="text-center">{{restaurant.Grade}}</td>
      <td class="text-center"><app-view-menu [restInfo]="restaurant"></app-view-menu></td>
    </tr>
  </tbody>
</table>
