<table class="table table-dark table-responsive table-hover">
  <thead class="lead">
    <tr>
      <th scope="col">Restaurant</th>
      <th scope="col">Cuisine</th>
      <th scope="col">City</th>
      <th scope="col">Rating</th>
      <th scope="col">Score</th>
      <th scope="col"></th> <!-- See Menu Btn -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BBQ Banquet Cuisine Rocking</td>
      <td>American</td>
      <td>Orlando</td>
      <td>85</td>
      <td>B</td>
      <td><button class="see-menu" class="btn btn-sm btn-primary">See Menu</button></td>
    </tr>
  </tbody>
</table>

<!-- TODO: Add menu -->
<!-- <td><button id="see-menu" class="btn btn-sm btn-primary">See Menu</button></td> -->
