<nav class="d-flex justify-content-between my-2 px-2 border-bottom-0">
  <div class="left-nav">
    <button class="btn btn-sm btn-outline-ternary p-2 my-1">Clear Filters</button>
  </div>
  <div class="h1 mx-auto">Food Finder</div>
  <div class="right-nav">
    <div data-bs-toggle="dropdown" class="d-inline-block mx-2">
      <button class="btn btn-sm btn-outline-info dropdown-toggle p-2 my-2">Filter Cuisine</button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li *ngFor="let cuisine of cuisines" [value]="cuisine">
          <button class="dropdown-item">{{cuisine}}</button>
        </li>
      </ul>
    </div>

    <div data-bs-toggle="dropdown" class="d-inline-block">
      <button class="btn btn-sm btn-outline-info dropdown-toggle p-2">Filter City</button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li *ngFor="let city of cities" [value]="city">
          <button class="dropdown-item">{{city}}</button>
        </li>
      </ul>
    </div>

  </div>
</nav>
