<nav class="d-flex justify-content-between my-2 px-2 border-bottom">
  <div class="left-nav"><button class="btn btn-sm btn-outline-ternary p-2 my-1">Clear Filters</button></div>
  <div class="h1 mx-auto">Food Finder</div>

  <div class="right-nav">
    <div class="dropdown d-inline-block">
      <button class="btn btn-sm btn-outline-info dropdown-toggle p-2">Filter City</button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item">Atlanta</button></li>
        <li><button class="dropdown-item">Chicago</button></li>
        <li><button class="dropdown-item">Houston</button></li>
        <li><button class="dropdown-item">Los Angeles</button></li>
        <li><button class="dropdown-item">Miami</button></li>
        <li><button class="dropdown-item">New Orleans</button></li>
        <li><button class="dropdown-item">New York City</button></li>
        <li><button class="dropdown-item">Orlando</button></li>
        <li><button class="dropdown-item">Portland</button></li>
        <li><button class="dropdown-item">Seattle</button></li>
        <li><button class="dropdown-item">San Diego</button></li>
        <li><button class="dropdown-item">San Francisco</button></li>
      </ul>
    </div>

    <div class="dropdown d-inline-block mx-2">
      <button class="btn btn-sm btn-outline-info dropdown-toggle p-2 my-2">Filter Cuisine</button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item">American</button></li>
        <li><button class="dropdown-item">Chinese</button></li>
        <li><button class="dropdown-item">Greek</button></li>
        <li><button class="dropdown-item">Italian</button></li>
        <li><button class="dropdown-item">Mexican</button></li>
        <li><button class="dropdown-item">Thai</button></li>
      </ul>
    </div>

  </div>
</nav>
