body {
  margin: 10px;
  padding: 20px;
  background-color: var(--dark);
  color: var(--white);

}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

/* ! CHANGE */
:root {
  --primary: #764ec2;
  --secondary: #6610f2;
  --success: #179e36;
  --info: #08b7d2;
  --warning: #fd7e14;
  --danger: #de2134;
  --light: #f8f9fa;
  --dark: #151616;
  --blue: #007bff;
  --pink: #e83e8c;
  --gray: #41464a;
  --gray-dark: #2e3338;
}
